* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fraunces', serif;
  font-family: 'Montserrat', sans-serif;
  background-color: $Cream;
}

.attribution {
  position: absolute;
  top: 0;
  left: 50%;
}

.container {
  width: 90%;
  margin: auto;
}