// Colors

// Primary

$DarkCyan: hsl(158, 36%, 37%);
$Cream: hsl(30, 38%, 92%);

// Neutral

$Gray: #7e7e86;
$VeryDarkBlue: hsl(212, 21%, 14%);
$DarkGrayishBlue: hsl(228, 12%, 48%);
$White: hsl(0, 0%, 100%);

// Typography

// Body Copy

$paraText: 14px;

@import './global.scss';
@import './card.scss';
@import './media1440.scss';